/* 
    Document   : ImageQuiz
    Created on : 2013-okt-05, 10:58:11
    Author     : Filip Husnjak
    Description:
        The CSS-file for image-quiz
*/

body {
    background: url("#{resource['img:background.jpg']}") no-repeat center center fixed; 
    margin: 0px auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#menu {
    display: block;
    float: left;
    line-height: 35px;
    list-style:none;
    margin: 0 5px;
}
#menu li{
    /* This generators the gradient on top of the solid color */
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgba(255,255,255,.5)),
        color-stop(1, rgba(0,0,0,.5))
        );
    background-image: -moz-linear-gradient(
        center top,
        rgba(255,255,255,.5) 0%,
        rgba(0,0,0,.1) 100%
        );
    color: #f4f4f4; /* IE */
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font: bold 18px "Myriad Pro","Lucida Grande",Helvetica,Arial,sans-serif;
    outline:none;
    padding: 5px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
}
.button{
    background-color: transparent; 
    color: #f4f4f4;
    border: none;
    font-size: 18px;
}

.GameBox {
    background: #ffffff;
    width: 610px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 15px;
    padding-bottom: 0px;
    height: 100%;
    border: 1px solid black;
}

.MenuBox {
    margin-top: 11%;
    position: relative;
    width: 525px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.MainBox{
    height: auto;
    width: auto;
    border: 1px solid red;
}

#CenterBox{
    width: 650px;
    height: auto;
    float: left;
    border: 1px solid yellow;
}

#BannerBox{
    width: 650px;
    height: 150px;
    background-image:url("#{resource['img:imagequiz.png']}");
}

#middleBox{
    width: 649px;
    height: 100px;
}

#GuessBox{
    width: 380px;
    height: 78px;
    float: left;
    padding-top: 20px;
}

#InfoBox{
    margin-top: 4.2%;
    margin-left: 7.5%;
    float: left;
    width: auto;
    height: auto;
}

#about{
    margin: auto;
    margin-top: 13.5%;
    background: #ffffff;
    width: 610px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid black;
}

#Leaderboard{
    float: right;
    overflow: hidden;
    width: 200px;
    height: 16.5em;
    margin-top: 26.5%;
    background-color: white;
    border: 2px solid blue;
}

#contentBox{
    width: 58em;
    height: 630px;
    margin-left: 34%;
    margin-right: 16%;
    border: 1px solid yellow;
}

#table{
    width: 100%;
}
#table tr:nth-of-type(2n) {
    background: #ffffff;
}
#table tr:nth-of-type(2n-1) {
    background: #eee
}

